/* App.css */

/* General styles */

.App {
  text-align: center;
}

.container {
  max-width: 800px;
  padding: 20px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
  transform: translateY(-3px);
}

.list {
  text-align: left;
}

/* Task item styles */

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px; /* Padding inside each task item */
  border-bottom: 1px solid #ccc; /* Border between tasks */
}

.task-item:last-child {
  border-bottom: none; /* Remove border from the last task item */
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 10px;
}

/* Button styles */

.delete-button,
.edit-button {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  background-color: darkred;
}

.edit-button {
  background-color: blue;
}

.edit-button:hover {
  background-color: darkblue;
}
